{% extends "layout.html" %}
{% block body %}

<img src="{{ url_for('video_feed') }}" class="img-fluid mx-auto d-block">
<br>

<div class="border rounded w-100" style="padding:5px;">
    <div class="form-group">
        <form action="{{ url_for('capture_trigger') }}" method=post name="capture_trigger" onsubmit="return confirm_trigger()">
            {% if capture_running %}
            <div class="row" style="padding:10px;">
                <div class="col-12" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                    <label class="label" id="capture_started_datetime">Started:</label> <br>
                    <label class="label" id="capture_count">Capture count:</label> <br>
                    <label class="label" id="motion_score">Motion_score:</label>
                </div>
            </div>
            <hr>
            {% endif %}
            <div class="row" style="padding:10px;">
                <div class="col-12" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                    <label class="label">Capture interval :&ensp;</label>
                    <div class="form-inline">
                        <input {{start_enable}} class="form-input" type="number" id="capture_interval_sec" name="capture_interval_sec" style="width:70px;" min="5" value="{{capture_interval_sec}}">
                        <label class="label">&ensp;sec</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:10px;">
                <div class="col-12" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                    <label class="label">Autostop timer (00:00=disable):&emsp;</label>
                    <div class="form-inline">
                        <input {{start_enable}} class="form-input" type="number" id="autostop_timer_hour" name="autostop_timer_hour" style="width:70px;" min="0" value="{{autostop_timer_hour}}">
                        <label class="label">&ensp;hour&ensp;</label>
                        <input {{start_enable}} class="form-input" type="number" id="autostop_timer_minute" name="autostop_timer_minute" style="width:70px;" min="0" value="{{autostop_timer_minute}}">
                        <label class="label">&ensp;min</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:10px;">
                <div class="col-12" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                   <div class="form-check">
                       <input {{start_enable}} {{autostop_no_motion_enable}} class="form-check-input" type="checkbox" id="autostop_no_motion_enable" name="autostop_no_motion_enable">
                       <label class="form-check-label" for="autostop_no_motion_enable">Autostop with no motion</label>
                   </div>
                </div>
            </div>
            <div class="row" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                <div class="col-6" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                    <button {{start_enable}} type="submit" class="btn btn-primary w-100 h-100" name="trigger" value="start" id="button_start">
                        <span>Start</span>
                    </button>
                </div>
                <div class="col-6" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                    <button {{stop_enable}} type="submit" class="btn btn-primary w-100 h-100" name="trigger" value="stop" id="button_stop">
                        <span>Stop</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script language="javascript" type="text/javascript">
    function confirm_trigger() {
        let msg = '{{capture_running}}'=='True' ? 'Stop ' : 'Start ';
        let result = window.confirm(msg + 'OK ?');
        return result;
    }
    function UpdateStatusPoling() {
        let request = new XMLHttpRequest();
        request.open('GET', "{{url_for('capture_status')}}", true);
        request.responseType = 'json';
        request.onload = function () {
            let data = this.response;
            if ('{{capture_running}}'=='True' && data.capture_running==false) {
                window.location.href = '{{url_for('capture')}}';
            }
            document.getElementById("capture_started_datetime").innerHTML = "Started: " + data.capture_started_datetime;
            document.getElementById("capture_count").innerHTML = "Capture count: " + data.capture_count;
            document.getElementById("motion_score").innerHTML = "Motion score: " + (Math.round(data.capture_motion_score * 100000) / 100000).toFixed(5);
            setTimeout(UpdateStatusPoling, 1000);
        };
        request.onerror = function () {
            alert('ERROR: Communication error. Prease go back to the menu');
        }
        request.send();
        
    }
    function load() {
      UpdateStatusPoling();
    }
    window.onload = load;
</script>

{% endblock %}
