{% extends "layout.html" %}
{% block body %}

<div class="border rounded w-100" style="padding:5px;">
    <div class="form-group">
        <form action="{{ url_for('encode_trigger') }}" method=post name="encode_trigger">
            <div class="row" style="padding:10px;">
                <div class="col-12" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                    <label class="label">Captured frames :&ensp;</label>
                    <select id="frames_dir" name="frames_dir" class="form-control" onchange="preview_video();">
                        {% for frames_dir in frames_dirs %}
                            {% if frames_dir|length > 0 %}
                                <option value={{frames_dir}}  {{ 'selected' if frames_dir == selected_dir else '' }}>{{frames_dir}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row" style="padding:20px;padding-top:0px;padding-bottom:0px">
                <img id="video_preview" src="" width="480" align="left">
            </div>
            <div class="row" style="padding:20px;padding-top:5px">
                <div class="col-12" style="padding:0px;">
                <input class="form-input" type="number" id="video_preview_offset" style="width:70px;" min="1" value="1" onchange="preview_video();">
                <label class="label">&ensp;offset</label>
                </div>
            </div>
            <div class="row" style="padding:10px;">
                <div class="col-12" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                    <label class="label">Encode frame rate :</label>
                    <div class="form-inline">
                        <input class="form-input" type="number" id="frame_rate" name="frame_rate" style="width:70px;" min="0" value="{{encode_frame_rate}}">
                        <label class="label">&ensp;fps</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:10px;padding-bottom:0px;">
                <div class="col-6" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                    <button {{start_enable}} type="submit" class="btn btn-primary w-100 h-100" name="trigger" value="encode" id="button_encode">
                        <span>Encode</span>
                    </button>
                </div>
                <div class="col-6" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                    <button {{start_enable}} type="submit" class="btn btn-primary w-100 h-100" name="trigger" value="remove" id="button_remove_frames" onclick="return confirm_trigger('Remove captured frames ')">
                        <span>Remove</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<center>
<div id="encoding_spnner_block" style="display:none">
    <br>
    <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" ></span>
    <label class="label" id="encoding_jobinfo"></label>
    <br>
</div>
<font size="5">▼</font>
</center>

<div class="border rounded w-100" style="padding:5px;">
    <div class="form-group">
        <form action="{{ url_for('video_trigger') }}" method=post name="video_trigger">
        <div class="row" style="padding:10px;">
            <div class="col-12" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                <label class="label">Encoded videos :&ensp;</label>
                <select id="videos_file" name="videos_file" class="form-control">
                    {% for videos_file in videos_files %}
                        <option value={{videos_file}}  {{ 'selected' if videos_file == selected_file else '' }}>{{videos_file}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row" style="padding:10px;padding-bottom:0px;">
            <div class="col-6" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                <button type="button" class="btn btn-primary w-100 h-100" id="button_start" onclick="video_download();">
                    <span>Download</span>
                </button>
            </div>
            <div class="col-6" style="padding:10px;padding-top:0px;padding-bottom:0px;">
                <button type="submit" class="btn btn-primary w-100 h-100" name="trigger" value="remove" id="button_remove_video" onclick="return confirm_trigger('Remove encoded video ')">
                    <span>Remove</span>
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
<script language="javascript" type="text/javascript">
    function preview_video() {
        var frames_dir = document.getElementById('frames_dir').value;
        var offset = document.getElementById('video_preview_offset').value;
        document.getElementById('video_preview').src = "{{url_for('video_preview')}}" + "?dir="+ frames_dir + "&offset=" +offset;
    }
    function confirm_trigger(msg) {
        let result = window.confirm(msg + 'OK ?');
        return result;
    };
    function video_download() {
        const elm = document.getElementById("videos_file")
        const idx = elm.selectedIndex;
        const val = elm.options[idx].value;
        const link = document.createElement('a')
        link.download = val
        link.href = "{{url_for('video_download')}}" + "?filename="+ val
        link.click()
    };
    var encode_running_prev = false;
    function UpdateStatusPoling() {
        let request = new XMLHttpRequest();
        request.open('GET', "{{url_for('encode_status')}}", true);
        request.responseType = 'json';
        request.onload = function () {
            let data = this.response;
            if (data.encode_running!=encode_running_prev) {
                encode_running_prev = data.encode_running;
                if (data.encode_running == false) {
                    // encode finished then reload page
                    window.location.href = '{{url_for('video')}}';
                }
            }
            document.getElementById("encoding_spnner_block").style.display = data.encode_running ? "block" :"none";
            document.getElementById("encoding_jobinfo").innerHTML = data.encode_job_name + " (" + data.encode_job_framerate+ "fps)";
            setTimeout(UpdateStatusPoling, 1000);
        };
        request.onerror = function () {
            alert('ERROR: Communication error. Prease go back to the menu');
        }
        request.send();
    }
    function load() {
      UpdateStatusPoling();
      if ("{{selected_dir}}"!="") {
        preview_video();
      }
    }
    window.onload = load;
</script>
{% endblock %}